/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
    overflow-y: hidden; /* Esconde a barra de rolagem vertical */
    font-family: Arial, sans-serif;
    background-color: #111021;
    color: #bd1c58;
    font-family: 'poppins';
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.lovely{
    display: flex;
    background-color: #d11258;
    width: 290px;
    align-items: center;
    justify-content: end;
    border-radius: 0px 40px 40px 0px;
    padding: 12px 20px 2px 0px;
}

.lovely > span{
    margin: 0px 20px 12px 10px;
    color: white;
    font-size: 1.1em;
}

.lovely > img{
    width: 48px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
}

.links > a{
    position: relative;
    color: #bd1c58;
    font-weight: bold;
    font-size: 1.14em;
}

a{
    text-decoration: none;
}

a:hover{
    color: #f68db5;
    text-shadow: 0px 0px 3px #f68db5;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
 
}

.links > a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #f68db5;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.links > a:hover::after,
.links > a:focus::after {
    transform: scaleX(1);
}

.observations{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d11258;
    width: 290px;
    height: 60px;
    font-weight: bolder;
    border-radius: 40px 0px 0px 40px;
    padding: 10px 0px 10px 20px;
}

.observations > span > a{
    color: #111021;
    font-size: 1.1em;
}

.observations > span > a:hover{
    color: #f68db5;
    text-shadow: 0px 0px 3px #f68db5;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

#observations{
    position: relative;
    text-decoration: underline;
    text-decoration-color: #111021;      /* Cor do underline */
    text-decoration-thickness: 1.5px;      /* Espessura do underline */
    text-underline-offset: 2px;  
}

#observations:hover{
    text-decoration: none;
}

#observations > a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #f68db5;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

#observations > a:hover::after,
#observations > a:focus::after {
    transform: scaleX(1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    border-radius: 45px;
    background: linear-gradient(to bottom, #fcdae7, #fde1eb, #fdebf2, #fef0f5, #ffffff);
    margin: auto;
    width: 740px;
    height: 690px;
    margin-top: 15px;
}

.container > .titulo {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding: 0px 50px;
    margin-bottom: 20px;
    color: #bd1c58;
}

.container > p{
    text-align: justify;
    font-size: 1.2em;
    color: #111021;
}

.sub-titulo::before,
.sub-titulo::after {
  content: "";
  position: absolute;
  top: 282px;
  width: 302px; /* tamanho dos traços */
  height: 3px; /* espessura */
  background-color: #bd1c58; /* cor dos traços */
}

.sub-titulo::before {
  left: 87px; /* ajuste de distância à esquerda */
}

.sub-titulo::after {
  right: 87px; /* ajuste de distância à direita */
}

.circulos{
    position: absolute;
    top: 330px;
    left: calc(100% - 35px);
    width: 80px;
    height: 80px;
    color: transparent;
    border: 2px solid #bd1c58;
    border-radius: 50%;
}

#c01{
    top: 385px;
}

#triangulos{
    position: absolute;
    top: calc(100% - 100px);
    display: grid;
    grid-template-columns: 62px 62px;
    grid-template-rows: 62px 62px;
    margin-left: -24px;
}

.triangulo{
    width: 0; 
    height: 0; 
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 45px solid #bd1c58;
    rotate: -135deg;
}

footer{
    position: absolute;
    bottom: 13px;
    left: calc(50% - 155.56px);
}

footer > div > p{
    font-weight: 400;
    color: #f68db5;
}

footer .nomes{
    font-weight: 400;
    color: #bd1c58;
}