@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 50px 0px 30px 0px;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.14em;
    padding: 10px 0px;  
    padding: 0px 40px 0px 40px; 
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.links > a{
    position: relative;
    color: #ffcddf;
    font-weight: bold;
    font-size: 1.14em;
}

a{
    text-decoration: none;
}

a:hover{
    color: #f68db5;
    text-shadow: 0px 0px 3px #f68db5;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
 
}

.links > a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #f68db5;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.links > a:hover::after,
.links > a:focus::after {
    transform: scaleX(1);
}

.coracao_flecha > img{
    width: 60px;
}

#love{
    text-decoration: underline;
    text-decoration-color: #f68db5;      /* Cor do underline */
    text-decoration-thickness: 1.5px;      /* Espessura do underline */
    text-underline-offset: 2px;  
}

#love:hover{
    text-decoration: none;
}

h1{
    font-family: 'Noto Serif Display', serif;
    font-style: italic;
    font-size: 4.5em;
    color: white;
    text-align: center;
    letter-spacing: -3px;
    margin-bottom: 20px;
}

.carta{
    width: 1090px;
    background-color: rgba(255, 255, 255, 0.726);
    margin: auto;
    border-radius: 70px;
    padding: 30px;
    font-family: 'Great Vibes', serif;
    box-shadow: 0px 0px 15px 5px #ea79a46c;
}

.carta p{
    color: #bd1c58;
    margin-bottom: 15px;
    text-indent: 30px;
    text-align: justify;
    font-size: 1.2em;
}

.carta > .feliz-aniversario{
    font-size: 1.5em;
    font-style: italic;
}

footer{
    margin: 15px 0px;
}

footer > div > p{
    font-weight: 400;
    color: #f68db5;
}

footer .nomes{
    font-weight: 400;
    color: #e94f87;
}

/* Barra de rolagem personalizada */
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background: #91536c;
  border-radius: 20px;
}
body::-webkit-scrollbar-track {
  background: #542B3B;
}
body::-webkit-scrollbar-thumb:hover {
  background: #EA79A5;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}
