body{
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
    color: white;
}

header{
    font-size: 23pt;
}

input{
    background-color: black;
    border-color: rgb(237, 163, 213); 
    border-radius: 15px;
    text-align: center;
    width: 250px;
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(237, 163, 213);
    cursor: pointer;
    margin: 10px 20px;
    transition: transform 0.2s ease;
}

input:hover{
    border-color: rgb(229, 27, 165); 
    color: rgb(229, 27, 165);
    transform: scale(1.3);
    
}

#imagem > img{
    width: 400px;
    box-shadow: 0px 0px 70px rgba(237, 163, 213, 0.641);
    border-radius: 20px;
    cursor: pointer;
}

#imagem > img:hover{
    box-shadow: 0px 0px 70px rgb(229, 27, 165);
}
