@charset "UTF-8";

.animacao-coracao{
    position: absolute;
    top: 470px;
    width: 300px;
}

#coracao-esquerdo{
    left: calc(100% - 330px); 
}

#coracao-direito{
    left: 50px; 
}

svg #line {
  fill: none;
  stroke: #bd1c58;
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;

  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 4s linear infinite;
}
svg #point {
  fill: none;
  stroke: #bd1c58;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: .1;
  stroke-opacity: 1;
  stroke-dasharray: .0001, .9999;
  stroke-dashoffset: 1;
  animation: dash 4s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}