@charset "UTF-8";

/* QUADRADOS */

.quadrados{
    position: absolute;
    left: 414px;
    top: 783px;
}

.quadrado1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: #bd1c58;
    rotate: 45deg;
}

.quadrado2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    background-color: #111021;
    rotate: 45deg;
}

.quadrado3{
    width: 34px;
    height: 34px;
    background-color: #bd1c58;
    rotate: 45deg;
}

/* LINHAS */

.linha{
    position: absolute;
    top: 475px;
    left: 992px;
    width: 75px;
    height: 2px;
    background-color: #bd1c58;
}

.linha1{
    transform: rotate(23deg);
}
.linha2 {
    transform: rotate(45deg);
}
.linha3 {
    transform: rotate(67deg);
}
.linha4 {
    transform: rotate(89deg);
}
.linha5 {
    transform: rotate(111deg);
}
.linha6 {
    transform: rotate(133deg);
}
.linha7 {
    transform: rotate(155deg);
}

