@charset "UTF-8";

/* QUADRADOS */

.quadrado1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: rgb(222, 62, 89);
    rotate: 45deg;
}

.quadrado2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 212px;
    height: 212px;
    background-color: black;
    rotate: 45deg;
}

.quadrado3{
    width: 150px;
    height: 150px;
    background-color: rgb(222, 62, 89);
    rotate: 45deg;
}

/* LINHAS */

.linha{
    position: absolute;
    top: 470px;
    left: 994px;
    width: 75px;
    height: 2px;
    background-color: #bd1c58;
}

.linha1{
    transform: rotate(23deg);
}
.linha2 {
    transform: rotate(45deg);
}
.linha3 {
    transform: rotate(67deg);
}
.linha4 {
    transform: rotate(89deg);
}
.linha5 {
    transform: rotate(111deg);
}
.linha6 {
    transform: rotate(133deg);
}
.linha7 {
    transform: rotate(155deg);
}

